@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    user-select: none;
}

button {
    cursor: pointer;
    user-select: none;
}

body {
    color: rgb(0, 0, 0);
    background-color: rgb(169, 206, 211);
    font-family: 'Open Sans';
    font-size: 10px;
    overflow: hidden;
}

/*navbar*/

.navbar {
    background-color: rgb(6, 30, 97);
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

li.logo {
    margin-left: 1.4rem;
}

a.logo {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    font: 'Open Sans';
}

.navbar button{
    background-color: rgba(65, 99, 192, 1);
    color: white;
    font: 1rem "Open Sans";
    padding: 1rem;
    border-radius: 10px;
    border:none;
    margin: 1.2rem;
    transition: all 0.4s ease 0s;
}

.navbar button:hover {
    background-color: rgba(65, 99, 192, 0.8);
}

/* stopwatch */

#stopwatch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6.5rem;
}

.controllers div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    user-select: none;
}

.controllers button{
    background-color: rgba(65, 99, 192, 1);
    color: white;
    font: 1.2rem "Open Sans";
    padding: 0.6rem 1.2rem;
    transition: all 0.4s ease 0s;
    border-radius: 10px;
    border-width: 0px;
}

button.current-mode-button {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(64, 64, 64)
}

.mode-control {
    width: 7rem;
    margin: 0.5rem;
}

.time-control {
    width: 5rem;
    margin: 0.3rem;
    padding: 0.6rem 0.7rem;
}

.controllers button:hover {
    background-color: rgba(65, 99, 192, 0.8);
}

#stopwatch-display {
    font-size: clamp(1rem, 10vw, 8rem);;
    font-weight: bold;
    font-family: 'Share Tech', monospace;
    color: rgb(49, 54, 50);
    background-color: rgb(119, 128, 119);
    margin: 1.3rem;
    padding: 0.8rem;
    border: 0.5rem solid rgb(49, 54, 50);;
}

/* time config */

#dropdown-menu {
    position: absolute;
    top: 6.5rem;
    right: 0.3rem;
    max-height: 0rem;
    transition: max-height 0.5s;
    max-height: 0px;
    display: none;
}

#dropdown-menu.open-menu {
    display: block;
    max-height: 25rem;
}

.customization-menu {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 0.8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    /*queda horrible, pero hay que hacer un override al overflow*/
    width: 15rem;
    height: 15.4rem;
    margin: 0rem 0.5rem;
}

.time-config {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.time-config button {
    color: white;
    background-color: rgba(65, 99, 192, 1);
    border-radius: 50%;
    font-size: 0.7rem;
    height: 1.7rem;
    width: 1.7rem;
    border: none;
}

.time-config button:hover {
    background-color: rgba(65, 99, 192, 0.8);
}

.time-config-data {
    font-family: 'Share Tech', monospace;
    font-size: 1.9rem;
    margin: 0.7rem;
}

.status-div {
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

#status-text {
    font-size: 2rem;
    color: rgb(3, 166, 35);
}

#status-text.relapsing {
    color: rgb(117, 72, 30);
}


@media screen and (max-width: 728px) {
    
    #stopwatch-display {
        font-size: clamp(1rem, 12vw, 30vw);
    }
    #logo {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 380px) {
    #stopwatch-display {
        font-size: clamp(0.5rem, 17vw, 20vw);
    }
    .controllers div {
        flex-direction: column;
        align-items: center;
    }
    .navbar {
        font-size: 0.8rem;
    }
    .navbar button {
        height: 3rem;
        font-size: 1rem;
        margin: 0.7rem;
    }
    a.logo {
        font-size: 1.4rem;
    }
    .mode-control {
        width: 15rem;
    }
    div.controllers.mode {
        display: flex;
        flex-direction: column;
    }
    div.controllers.mode button {
        margin: 0.3rem;
        font: 1rem "Open Sans";
        padding: 0.5rem 3rem;
    }
}